GPATH
GRTAGS
GTAGS
*.o
Makefile
Makefile.in
src/GPATH
src/GRTAGS
src/GTAGS
src/build_ihmm
src/build_model
src/libihmm.a
src/plot_model
src/sim_seq
INSTALL
aclocal.m4
autom4te.cache/
compile
configure
configure.scan
depcomp
install-sh
missing
test-driver


