name: C/C++ CI

on: [push]

env:  
  BUILD_TYPE: Release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure --prefix $HOME
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: make install
      run: make install
    - name: kalign version
      run: ~/bin/kalign -v

  build-mac:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: install build tools
      run: brew install automake
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure --prefix $HOME
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: make install
      run: make install
    - name: kalign version
      run: kalign -v